/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

button:not(.card__icon-button):focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
  transition: box-shadow 0.3s ease;
  transition-timing-function: linear;
}

button:focus-visible {
  outline: 2px solid #000;
}

button:not(.card__icon-button)::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transition-timing-function: linear;
  transform: translateX(-100%);
}

button:hover::before {
  transform: translateX(0);
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s;
}

.core {
  fill: var(--opacity);
  transition-property: fill;
  transition-delay: 0.12s;
  transition-timing-function: linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s;
  transition-delay: 0.05s;
  transition-timing-function: linear;
}

.main-body {
  fill: var(--opacity);
  transition: fill 0.3s;
  transition-timing-function: linear;
}

.sparks {
  fill: none;
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s ease-in;
  transition-timing-function: linear;
}

.like-icon.is-liked .sparks {
  animation: appearance__sparks 0.3s 0.3s ease-in;
  animation-timing-function: linear;
}

/* А почему не через класс .heart ? А потому что он не работает...
Slime love of the time я разочарован */

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  transform-origin: center;
  fill: var(--animation-fill-color);
  animation-timing-function: linear;
  animation: increase__heart 0.3s 0.1s ease-in;
}

/* Через селектор  .like-icon.is-liked  тоже не работает , только так */

@keyframes increase__heart {
  from {
    scale: 1;
  }
  to {
    scale: 1.25;
  }
}

@keyframes appearance__sparks {
  from {
    fill: none;
  }
  to {
    fill: var(--animation-fill-color);
  }
}
