/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Настройки текста */
.header__title-big {
  font-family: "PressStart2P", sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  inline-size: fit-content;
}

.header__title-mini {
  font-family: "PressStart2P", sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
  inline-size: fit-content;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" 700;
  margin-block: 6px;
  margin-inline: 11px;
}

.card__text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button__text {
  font-family: "PressStart2P", sans-serif;
  font-size: 14px;
  line-height: 90%;
  color: #fff;
  mix-blend-mode: difference;
  font-weight: 400;
}

/* Страница */

.page {
  display: grid;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  background-image: var(--bg-page-gradient);
  background-attachment: fixed;
  font-variation-settings: "wght" 400;
}

@supports (font-variation-settings: normal) {
  .page {
    font-weight: 400;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: clamp(120px, 0.75vw + 117.2px, 128px);
  outline: 2px solid #000;
  background-color: #fff;
  margin-block: 102px;
}

.main {
  margin-block-start: 2px;
}

/* Карточки */

.section__article {
  display: grid;
  gap: 55px;
}

.card {
  display: grid;
  outline: 2px solid #000;
  background-color: #fff;
}

.card__img {
  inline-size: 100%;
  block-size: 100%;
}

.container__img {
  position: relative;
  block-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  outline: 2px solid #000;
}

.container__img::after {
  position: absolute;
  content: "</HTML>";
  font-family: "PressStart2P", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  z-index: 1;
  opacity: 0.5;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)){
  .container__img::after {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
    
  }
}

.card__container-text {
  justify-self: center;
  display: grid;
  gap: 26px;
  margin-block-start: 25px;
  margin-block-end: 25px;
  margin-inline: 27px;
  inline-size: clamp(20.0625rem, 12.9102rem + 30.5164vw, 40.375rem);
}

/* Кнопки */

.container__button {
  display: flex;
  justify-self: end;
  align-items: center;
  gap: 6px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  inline-size: 39px;
  block-size: 34px;
  padding: 0;
}

.card__like-button {
  border: 2px solid #000;
  background-color: transparent;
  padding-block-start: 6px;
  inline-size: 130px;
  block-size: 38px;
}

.floppy__svg {
  inline-size: 22px;
  fill: #fff;
  mix-blend-mode: difference;
}

.footer__save-button {
  margin-inline: auto;
  margin-block-start: 51px;
  margin-block-end: 103px;
  display: flex;
  border: 2px solid #000;
  gap: 8px;
  align-items: center;
  padding-block: 14.5px;
  padding-inline: 20px;
}

/* Модульное окно */

.module__window[open] {
  opacity: .3;
  border: 2px solid #000;
  background-color: #fff;
  padding-inline: 27px;
  padding-block: 30px;
}

.module__window:focus {
  outline: none;
}

.module__window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.module__title {
  display: flex;
  gap: 20px;
  inline-size: fit-content;
}

.module__title .floppy__svg {
  inline-size: 39px;
  aspect-ratio: 1 / 1;
}

.module__title_text {
  font-family: "PressStart2P", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  inline-size: 234px;
}

.module__button {
  border: 2px solid #000;
  margin-block-start: 30px;
  padding-block-start: 12px;
  padding-block-end: 4px;
  padding-inline: clamp(7.125rem, 6.7289rem + 1.6901vw, 8.25rem);
  background-color: #fff;
}

@media (width <= 375px) {
  .module__window[open] {
    padding-inline: 37px;
  }

  .footer__save-button {
    display: grid;
    justify-items: center;
    gap: 10px;
  }

  .floppy__svg {
    inline-size: 28px;
  }
}

/* Фильтры */

.men__smile-bcs {
  filter: blur(1px) contrast(90%) saturate(3);
}

.men__tab-brightness {
  filter: brightness(90%);
}

.long__nose-contrast {
  filter: contrast(120%);
}

.training-contrast {
  filter: contrast(90%);
}

.friend-brightness {
  filter: brightness(150%);
}

.local__mem-hue-rotate {
  filter: hue-rotate(260deg);
}

.top__food-opacity {
  filter: opacity(0.9);
}

.end-contrast {
  filter: contrast(1.1);
}
